@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

:root {
    --primary: #C0F3E3;
    --previous: #FFFFF5;
    --next: #C0F3E3;
}

.btn {
    font-family: Quicksand, sans-serif;
    font-weight: 700;
    font-size: 48px;
    transition: transform 0.1s ease;
}

.btn:hover {
    transform: translateY(-1px);
}

.btn--primary--solid {
    background-color: var(--primary);
    color: #242038;
    border-radius: 50px;
    border-color: #61A0AF;
    border-width: medium;
    padding: 3%;
}

.btn--next--solid {
    background-color: var(--primary);
    border-radius: 50px;
    border-color: #61A0AF;
    border-width: medium;
    padding: 3%;
}

.btn--previous--solid {
    background-color: var(--previous);
    border-radius: 50px;
    border-color: #61A0AF;;
    border-width: medium;
    padding: 3%;
}

/* button size*/

.btn--large {
    padding: 10px 20px;
    font-size: 48px;
    height: 100px;
    width: 500px;
}

.btn--medium {
    padding: 5px;
    font-size: 18px;
    height: 40px;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

.btn--small {
    padding: none;
    font-size: 14px;
    height: 30px;
    width: 125px;
}