@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

.ClearButtons {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 80px;
   margin-top: auto;
   margin-bottom: auto;
   padding-right: 3vw;
   padding-left: 3vw;
}

.ButtonContainer {
    /* background-color: #C0F3E3; */
    /* border-radius: 80px; */
    width: 85vw;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    grid-gap: 0.5rem;
    justify-items: start;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1vw;
    padding-bottom: 1vw; */
}

.btn-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    grid-gap: 0.5rem;
    justify-items: start;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5vw;
    /* padding-right: 5vw; */
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.bc-container {
    margin-right: 3vw;
    display: flex;
    justify-content: left;
    background-color: #C0F3E3;
    border-radius: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
}

/* .ButtonContainer {
    background-color: #C0F3E3;
    border-radius: 50px;
    width: 93%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
} */


.Villagers {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    grid-gap: 1rem;
    /* grid-template-rows: 130px auto 130px; 
    gap: 1px 8px; */
}

.v-section-container {
    padding-top: 5vh;
    margin-bottom: 5vh;
    max-height: 45vh;
    overflow:scroll;
    overflow-x:hidden;
}

/* .Villagers{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 95%;
    margin-left: 4%;
    margin-right: 2.5%;
    margin-top: 1%;
    margin-bottom: 4%;
    max-height: 45vh;
    overflow:scroll;
    overflow-x:hidden;
    padding-bottom: 1%;
} */

.villagerOptions {
    height: 136px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vNames {
    max-width: 80px;
    margin-top: 1%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.vSearch {
    border-radius: 50px;
    border-width: thin;
    border-color: #242038;
    height: 7%;
    width: 93%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-top: 2%;
    margin-bottom: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-indent: 1%;
    filter: drop-shadow(0 1mm 1mm #c9c9c99f);
}



/**
  Each row is 136 pixels, so add an extra row depending on screen size.
  Is there a better way of doing this??
*/
@media only screen and (min-height: 808px) {
    .Villagers {
        max-height: calc(136px * 2);
    }
}

@media only screen and (max-width: 768px) {
    .bc-container {
        align-items: center;
        margin-bottom: 5%;
    }

    .ClearButtons {
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 730px) {
    .bc-container {
        flex-direction: column;
        align-items: center;
    }

    .btn-group {
        padding-left: 0;
    }

    .ClearButtons {
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 320px) {
    .btn-group {
        grid-gap: 0.1rem;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        padding-left: 0;
        margin-top: 5%;
    }

    .ClearButtons {
        margin-bottom: 5%;
    }
}

@media only screen and (min-height: 944px) {
    .Villagers {
        max-height: calc(136px * 3);
    }
}

@media only screen and (min-height: 1080px) {
    .Villagers {
        max-height: calc(136px * 4);
    }
}

@media only screen and (min-height: 1216px) {
    .Villagers {
        max-height: calc(136px * 5);
    }
}

@media only screen and (min-height: 1352px) {
    .Villagers {
        max-height: calc(136px * 6);
    }
}

@media only screen and (max-width: 1242px) {
    .Villagers{
        max-height: none;
        overflow: none;
        overflow-x: none;
    }
}

input:focus {
    outline-width: 0;
}
