@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #61A0AF;
    margin-left:6%;
    margin-right:6%;
}

.stepper {
    display:flex;
    justify-content: center;
}

.selected {
    background-color: #F4D06F;
}

hr{
    border-width: 1px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    width: 80px;
    border-color: #242038;
    margin-left: 0;
    margin-right: 0;

}

/*need to add way to identify if circle is selected or not.
Need to add way to know that selected one needs a different colour and needs the outer circle.*/