.circ--primary {
    stroke:#61A0AF;
    stroke-width: 2; 
    fill:#E0F9EC;
}

.circ--selected {
    stroke:#F4D06F;
    stroke-width: 3.5;
    fill: #FFFFF5;
    filter: drop-shadow(0 1mm 1mm #b8ad91);
}

/* .ButtonContainer {
    display: flex;
    justify-content: space-evenly;
} */

image {
    opacity: 0.9;
}
