.circ--primary {
    stroke:#61A0AF;
    stroke-width: 2; 
    fill:#E0F9EC;
}

.circ--selected {
    stroke:#61A0AF;
    stroke-width: 4;
    fill: white;
}

.ButtonContainer {
    display: flex;
    justify-content: space-evenly;
}

image {
    opacity: 90%;
}
