@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

.resultContainer {
    margin-bottom: 2%;
}

.resultCard {
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    align-items: center;
    margin-bottom: 4%;
}

.vImage {
    border-radius: 15px;
    margin-right: 2%;
}

.pTickets {
    display: flex;
    align-items: center;
}

.stats {
    font-size: 24px;
}

.ticketBox {
    border-radius: 50px;
    border-width: thin;
    border-color: #242038;
    height: 50px;
    width: 80px;
    font-size: 24px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.label {
    margin-left: 1.5%;
    font-size: 20px;
}

.divider {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-width: 3;
}

@media only screen and (max-width: 1242px) {
    .resultCard {
        flex-direction: column;
    }

    .vStats {
        max-width: 60%;
    }

    .pTickets {
        flex-direction: column;
    }

    h3 {
        text-align: left;
    }

    .resultContainer {
        margin-bottom: 10%;
    }
}