.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}

.intro {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
}

.intro-item {
    margin-top: 5%;
    margin-bottom: 5%;
}

.hero-image {
    height: 45vh;
}

@media only screen and (max-width: 1242px){
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
    }

    .intro {
        max-width: 90%;
        height:45vh;
    }
    
    .hero-image {
        margin-top: 0;
        max-width: 80%;
        height: auto;
    }
}

